# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL

**Objectives:**
- List popular languages for Data Science
- Categories of Data Science Tools
- Libraries for Data Science
- Commercial Tools for Data Science
- Cloud Based Tools for Data Science

Some of the commonly used libraries used by Data Scientists include:
1. modules
2. data structures
3. arrays

| Data Science Tools |
| -------- |
| MySQL |
| PostgreSQL |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author

Elias Almada